<p style="color: green"><%= notice %></p>

<% content_for :title, "Churches" %>

<h1>Churches</h1>

<div id="churches" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <% @churches.each do |church| %>
    <%= render church %>
    <p>
      <%= link_to "Show this church", church %>
    </p>
  <% end %>
</div>
<div class="mt-4 text-center">
  <%= link_to "New church", new_church_path, class: "bg-blue-500 text-white px-4 py-2 rounded-md" %>
</div>
