<div
  data-controller="sidebar"
  data-sidebar-default-open-value="<%= @default_open %>"
  data-state="expanded"
  style="--sidebar-width: 16rem; --sidebar-width-icon: 4rem;"
  class="group/sidebar-wrapper flex min-h-svh w-full has-[[data-variant=inset]]:bg-sidebar <%= @class_name %>"
>
  <%= content %>
</div>
