<%= form_with(model: memberchip) do |form| %>
  <% if memberchip.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(memberchip.errors.count, "error") %> prohibited this memberchip from being saved:</h2>

      <ul>
        <% memberchip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
