<div id="<%= dom_id form_response %>">
  <p>
    <strong>Form:</strong>
    <%= form_response.form_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= form_response.user_id %>
  </p>

  <p>
    <strong>Submitted at:</strong>
    <%= form_response.submitted_at %>
  </p>

</div>
