<% content_for :title, "New form response" %>

<h1>New form response</h1>

<%= render "form", form_response: @form_response %>

<br>

<div>
  <%= link_to "Back to form responses", form_responses_path %>
</div>
